<h1>Pipes in angular</h1>

<h4>{{title}}</h4>
<h4>{{title | uppercase}}</h4>
<h4>{{title | lowercase}}</h4>
<h4>{{title | titlecase}}</h4>

<h4>{{date|date}}</h4>
<h4>{{date|date:'fullDate'}}</h4>
<h4>{{date|date:'hh:mm:ss'}}</h4>

<h4>{{amount|currency}}</h4>
<h4>{{amount|currency:'EUR'}}</h4>
<h4>{{amount|currency:'INR'}}</h4>

<h4>{{date|date:'fullDate'|uppercase}}</h4>

<h1 style="color: red;background-color: black;">Custom pipe in angular</h1>
<h3>{{amount|currencyConverter}}</h3>
<h3>Rupee to Yen:{{10|currencyConverter:12}}</h3>
<h3>Rupee to Thai Bhat:{{10|currencyConverter:2.73}}</h3>