<h1>API Call service</h1>
@for(user of users; track user.id){
<ul>
  <li>{{user.name}}</li>
  <li>{{user.age}}</li>
  <li>{{user.email}}</li>
  <li><button (click)="deleteUser(user.id)">Delete</button></li>
  <li><button (click)="updateUser(user.id)">Update User</button></li>
</ul>
}

<form #userForm="ngForm" (ngSubmit)="addUser(userForm)">
  <input type="text" placeholder="Enter name" name="name" [ngModel]="selectedUser?.name">
  <br>
  <input type="text" placeholder="Enter age" name="age" [ngModel]="selectedUser?.age">
  <br>
  <input type="text" placeholder="Enter email" name="email" [ngModel]="selectedUser?.email">
  <br>
  @if(!selectedUser){
  <button>Add User</button>
  }
  @else{
    <button>Update User</button>
  }
</form>