<h1>Two way binding</h1>

<!-- <input [(ngModel)]="name" type="text" placeholder="Enter the name">
<h2>{{name}}</h2> -->

<input type="text" (input)="chanageName($event)" placeholder="enter name">
<h1>{{name}}</h1>


<h1>To do list</h1>
<input [(ngModel)]="task" placeholder="Enter the task" input="text">
<button (click)="addTask()">Add Task</button>

@for(t of tasklist; track t.id){
  <ul class="task-list">
    <li>{{t.id}}</li>
    <li>{{t.task}}</li>
    <li><button (click)="deleteTask(t.id)">Delete</button></li>
  </ul>
}