<h1>TempLate Driven Form</h1>
<form #userForm="ngForm" (ngSubmit)="addDetails(userForm.value)">
  <input #name="ngModel" type="text" placeholder="Enter name" name="name" ngModel required>
  <span class="error" *ngIf="name.invalid && name.touched">Name is Required</span>
  <br><br>
  <input #password="ngModel" type="password" placeholder="Enter password" name="password" ngModel required minlength="5"
    maxlength="10">
  <span class="error" *ngIf="password.invalid && password.touched">Min. 5 letters password required</span>
  <br><br>

  <input #email="ngModel" type="email" placeholder="Enter Email" name="email" ngModel required email>
  <span class="error" *ngIf="email.invalid && email.touched">Enter valid email</span>
  <br><br>

  <input #address="ngModel" type="address" pattern="[a-zA-Z0-9\s]+" placeholder="Enter Address" name="address" ngModel
    required>
  <span class="error" *ngIf="address.invalid && address.touched">No special symbols allowed</span>

  <br><br>
  <select #gender="ngModel" name="gender" ngModel required>
    <option value="">Select Gender</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
  <span class="error" *ngIf="gender.invalid && gender.touched">Select Gender</span>

  <br><br>
  <input type="range" min="0" max="20" name="range" ngModel value="10">
  <br><br>
  <button [disabled]="userForm.invalid">Add User</button>
</form>
<h3>{{userDetails?.name}}</h3>
<h3>{{userDetails?.password}}</h3>
<h3>{{userDetails?.gender}}</h3>
<h3>{{userDetails?.range}}</h3>